.block-27 {
    --elements-roundness: 5px;
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
    overflow: hidden;
    position: relative;
    z-index: 1
  }
  
  .block-27__row {
    height: 300px
  }
  
  @media(min-width:992px) {
    .block-27__row {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      height: 100%
    }
  }
  
  .block-27__image-column {
    height: 100%;
    background-position: center;
    background-size: cover
  }
  
  @media(min-width:992px) {
    .block-27__image-column {
      margin: 0 !important
    }
  }
  
  .block-27__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
  }
  
  .block-27__bg-image {
    background-position: center;
    background-size: cover
  }
  
  .contact-form__title {
    font-size: 2rem;
    font-weight: 600
  }
  
  .contact-form__paragraph {
    font-size: 1rem;
    opacity: .9;
    line-height: 1.7
  }
  
  .contact-form {
    margin: auto
  }
  
  .contact-form__input {
    color: var(--text-primary);
    font-size: .87rem;
    padding: .87rem 1.4rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .01);
    width: 100%;
    margin-bottom: .87rem
  }
  
  textarea.contact-form__input {
    height: 130px;
    resize: none
  }
  
  .contact-form__input:focus {
    border: 1px solid var(--primary);
    outline: 0;
    box-shadow: none
  }
  
  .btn--loading {
    opacity: 1;
    cursor: progress;
    position: relative;
    overflow: hidden;
    z-index: 1
  }
  
  .btn--loading::after,
  .btn--loading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
  }
  
  .btn--loading::before {
    background: var(--primary);
    width: 100%;
    height: 100%;
    z-index: 1
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0)
    }
  
    100% {
      -webkit-transform: rotate(360deg)
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0)
    }
  
    100% {
      transform: rotate(360deg)
    }
  }
  
  .btn--loading::after {
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid var(--primary-invert);
    width: 1.5rem;
    height: 1.5rem;
    -webkit-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite;
    z-index: 2
  }
  
  .h-100 {
    height: 100% !important
  }